﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>React-.NetCore StartKit</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
        <environment names="Development">
            <link rel="stylesheet" href="~/css/main.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true">
        </environment>
    </head>
    <body>
        <div id='app'></div>
        <environment names="Development">
            <script src="~/js/vendor.js"></script>
            <script type="text/javascript">
                self._babelPolyfill = false; //HACK: see http://stackoverflow.com/a/36672020/1434764
            </script>
            <script src="~/js/main.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/vendor.min.js" asp-append-version="true"></script>
            <script type="text/javascript">
                self._babelPolyfill = false; //HACK: see http://stackoverflow.com/a/36672020/1434764
            </script>
            <script src="~/js/main.min.js" asp-append-version="true"></script>
        </environment>
    </body>
</html>
